/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
    --icon_width: 84px;
    --icon_height: 80px;
    --num_icons: 9;
    --border-thickness: 2px;
    --reel-win-light: 8px;
    --reel-offset: -60px;
    --border-radius: 5px;
    --title-f-size: 45px;
    --jp-f-size: 28px;
    --font-size: 16px;
    --btn-f-size: 35px;
    --icon-fitter: 20px;
    --angle-deg: 30deg;
}

/* *************************************** */
.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.b-box {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.card-hidden {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.card-flipped {
    -webkit-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    transform: rotateY(90deg);
}

body {
    height: 100vh;
    width: 100%;
    font-family: 'Lobster', cursive;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.413)), to(rgba(0, 0, 0, 0.432))), url('images/Casino\ BG\ \(1\).jpg');
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.413), rgba(0, 0, 0, 0.432)), url('images/Casino\ BG\ \(1\).jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.413), rgba(0, 0, 0, 0.432)), url('images/Casino\ BG\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.container {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: 0 1%;
}

.cards {
    font-family: 'Share Tech Mono', monospace;
    border-radius: var(--border-radius);
    background-color: #000000ad;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    text-align: center;
    color: #ffffff;
    z-index: 4;
    width: 100%;
    max-width: calc(var(--icon_width) * 5.25);
    height: 82%;
    gap: 3%;
    -webkit-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms;
    padding: 5%;
}

.start-card h2 {
    font-size: var(--jp-f-size);
    margin: 0;
    text-align: center;
}

.start-card h2 span {
    color: #e14f0b;
    font-family: 'Lobster', cursive;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.98);
}

.start-card h3 {
    margin: 0 0 5% 0;
    font-size: var(--font-size);
}

.card-btns {
    font-size: var(--font-size);
    display: block;
    border-radius: var(--border-radius);
    font-weight: bold;
    background-color: #cdcdcd;
    border: 2px solid #e48c05;
    color: #000000;
    width: 30%;
    height: 40px;
    -webkit-transition: 50ms;
    -o-transition: 50ms;
    transition: 50ms;
}

#end-btn {
    width: 130px;
}

.card-btns:hover {
    background-color: #a1a1a1;
}

.card-btns:active {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
}

.end-card h3 {
    font-size: calc(var(--jp-f-size) + 6px);
    margin: 2%;
}

.proj-desc {
    background-color: #00000096;
    border-radius: var(--border-radius);
    border: 2px solid #e48c05;
    margin: 0 4% 5% 4%;
    overflow: scroll;
}

.proj-desc h3 {
    margin: 0;
}

.switch {
    z-index: 1;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 44px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c34308c4;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffc903;
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.top-piece {
    position: relative;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    z-index: 2;
    height: 16%;
    min-height: 80px;
    width: 60%;
    max-width: calc(var(--icon_width) * 3);
    background: #c34308;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transform: translateY(var(--border-thickness));
    -ms-transform: translateY(var(--border-thickness));
    transform: translateY(var(--border-thickness));
}

#title-text {
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    height: calc(100% - var(--border-thickness));
    min-height: calc(80px - var(--border-thickness));
    width: calc(100% - var(--border-thickness) * 2);
    background: rgb(28, 28, 30);
    background: -webkit-gradient(linear, left top, left bottom, from(#111130), color-stop(50%, #3e2c8f), to(#111130));
    background: -o-linear-gradient(top, #111130 0%, #3e2c8f 50%, #111130 100%);
    background: linear-gradient(180deg, #111130 0%, #3e2c8f 50%, #111130 100%);
}

#title-text h2 {
    margin: auto;
    font-size: var(--title-f-size);
    letter-spacing: 5px;
    color: #e14f0b;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.98);
}

.game-piece {
    z-index: 1;
    border-radius: var(--border-radius);
    position: relative;
    width: 93%;
    max-width: calc(var(--icon_width) * 5);
    min-height: 320px;
    background-color: #c34308;
}

#gp-wrapper {
    margin: 0;
    border-radius: var(--border-radius)
        /*  var(--border-radius) 0px 0px */
    ;
    height: calc(100% - var(--border-thickness));
    min-height: 320px;
    background: rgb(28, 28, 30);
    background: -webkit-gradient(linear, left top, left bottom, from(#111130), color-stop(50%, #3e2c8f), to(#111130));
    background: -o-linear-gradient(top, #111130 0%, #3e2c8f 50%, #111130 100%);
    background: linear-gradient(180deg, #111130 0%, #3e2c8f 50%, #111130 100%);
    margin: var(--border-thickness) var(--border-thickness) 0 var(--border-thickness);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#jackpot-total {
    width: 45%;
}

#jackpot-total h3 {
    margin: 0 0 6% 0;
    width: 100%;
    font-size: var(--jp-f-size);
    text-align: center;
    color: #ffc903;
    text-shadow: 0px 0px 6px #c34308;
}

.slots {
    border-radius: var(--border-radius);
    gap: 0%;
    width: 97%;
    margin: 5px 0 0;
    background: -webkit-gradient(linear, left top, left bottom, from(#83300a), color-stop(33%, #c34308), color-stop(66%, #c34308), to(#83300a));
    background: -o-linear-gradient(top, #83300a 0%, #c34308 33%, #c34308 66%, #83300a 100%);
    background: linear-gradient(180deg, #83300a 0%, #c34308 33%, #c34308 66%, #83300a 100%);
    border: 1px solid;
}

.slots .reel {
    border-radius: 5px;
    z-index: 3;
    position: relative;
    /* width: calc(calc(var(--icon_width)/2)+ calc(var(--border-thickness) * 2)); */
    width: calc(var(--icon_width));
    height: calc(3 * var(--icon_height) + var(--reel-offset));
    /* 
    /* height: calc(3 * var(--icon_height) + calc(var(--border-thickness) * 2)); */
    background-image: url('images/full\ slots\ img\ SS.png');
    background-position: center calc(var(--reel-offset) / 2);
    background-size: cover;
}

#reel-w-light {
    position: relative;
    background: rgb(222, 178, 101);
    border-radius: var(--border-radius);
    width: calc(var(--icon_width) + var(--reel-win-light));
    height: calc(3 * var(--icon_height) + var(--reel-win-light) + var(--reel-offset));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.slots .reel::after {
    border-radius: var(--border-radius);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.761)), color-stop(30%, transparent), color-stop(70%, transparent), to(rgba(0, 0, 0, 0.685)));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.761) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.685));
    background-image: linear-gradient(rgba(0, 0, 0, 0.761) 0%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.685));
    -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 6, 1);
    box-shadow: inset 0px 0px 6px 0px rgba(0, 0, 6, 1);
}

.tester-light {
    border-radius: 4px;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffc903;
}

.animate-light {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: winner;
    animation-name: winner;
    -webkit-animation-duration: 250ms;
    animation-duration: 250ms;
}

.bet-info {
    margin: 2% 0;
    width: 100%;
    gap: 2%;
}

.info-group p,
.info-group div {
    font-size: var(--font-size);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    margin: 0;
    color: #deb265;
}

.info-group div {
    background-color: rgb(30, 30, 30);
    border: 2px solid #deb265;
    color: white;
    width: 100%;
}

.info-group {
    width: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button-holder {
    position: relative;
    height: 14%;
    min-height: 70px;
    width: 100%;
    max-width: calc(var(--icon_width) * 5.25);
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#btn-area {
    display: block;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
}

.btn-screen {
    position: relative;
    top: 45%;
    width: 97%;
    height: 80%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 3%;
    -webkit-transform: translate(0, -50%) perspective(400px) rotateX(var(--angle-deg));
    -ms-transform: translate(0, -50%) perspective(400px) rotateX(var(--angle-deg));
    transform: translate(0, -50%) perspective(400px) rotateX(var(--angle-deg));
}

.game-btn {
    position: relative;
    border-radius: var(--border-radius);
    border: none;
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, #f4e6b4), color-stop(15%, #ffffff), color-stop(20%, #f4e6b4), color-stop(80%, #f4e6b4), color-stop(85%, #ffffff), color-stop(90%, #f4e6b4));
    background: -o-linear-gradient(left, #f4e6b4 10%, #ffffff 15%, #f4e6b4 20%, #f4e6b4 80%, #ffffff 85%, #f4e6b4 90%);
    background: linear-gradient(90deg, #f4e6b4 10%, #ffffff 15%, #f4e6b4 20%, #f4e6b4 80%, #ffffff 85%, #f4e6b4 90%);
    padding: 0;
    width: 15%;
    height: 40px;
}

.game-btn span {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border-radius: var(--border-radius);
    background-color: #d6d6d6;
    color: #000000;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms;
    border: 3px solid #deb265;
    height: 38px;
}

.game-btn h4 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #353538;
    font-weight: 400;
    font-size: var(--font-size);
    margin: 0;

}

.game-btn:active span {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
}

#play {
    width: 30%;
}

#play:disabled span {
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px);
}

.bottom-piece {
    position: relative;
    border-radius: 0px 0px var(--border-radius) var(--border-radius);
    height: 6%;
    min-height: 30px;
    width: 100%;
    max-width: calc(var(--icon_width) * 5.25);
    /* #111130 */
    background-color: #111130;
    background: -webkit-gradient(linear, left top, left bottom, from(#111130), to(#000000));
    background: -o-linear-gradient(top, #111130 0%, #000000 100%);
    background: linear-gradient(180deg, #111130 0%, #000000 100%);
    border-left: var(--border-thickness) solid #c34308;
    border-right: var(--border-thickness) solid #c34308;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pay-table {
    height: 90%;
    width: 100%;
    max-width: calc(var(--icon_width) * 4.25);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table-column {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #cdcdcd;
    border: 1px solid #c34308;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.table-column:nth-of-type(1) {
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    height: calc(100% - calc(100%/8));
    -ms-flex-item-align: end;
    align-self: flex-end;
    width: 60%;
}

.table-column:nth-of-type(2) {
    border-radius: var(--border-radius) 0 0 0;
    background-color: #deb265;
}

.table-column:nth-of-type(3) {
    background-color: #deb265;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.win-option {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #c34308;
    height: calc(100%/8);
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: var(--font-size);
}

.table-column:nth-of-type(1) .win-option {
    height: calc(100%/7);
}

.win-option h5 {
    font-size: var(--font-size);
    margin: 0;
}

.win-option-4 {
    font-family: 'Lobster', cursive;
}

.win-option-7 {
    border: none;
}

.win-table-i {
    position: relative;
    height: 70%;
    max-height: 40px;
}

.alternate-border {
    background-color: #c34308;
    border-bottom: 1px solid #deb265;
}

.alternate-border:nth-of-type(8) {
    border: none;
}

.win-option-5 h6 {
    font-family: 'Lobster', cursive;
    position: absolute;
    margin: 0;
    height: auto;
    text-shadow: 0px 0px 20px black;
    ;
}

.win-icons {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hidden-icon {
    opacity: 0;
}

.c-icon {
    position: relative;
    height: 60%;
}

.c-icon:nth-of-type(1) {
    left: var(--icon-fitter);
}

.c-icon:nth-of-type(3) {
    right: var(--icon-fitter);
}

@-webkit-keyframes winner {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes winner {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@media screen and (max-height: 540px) and (orientation: landscape) {

    body {
        height: 100%;
    }

    #jackpot-total h3 {
        margin: 2% 0 2% 0;
    }

}


@media screen and (min-height: 600px) {

    :root {
        --title-f-size: 60px;
        --jp-f-size: 35px;
        --font-size: 16px;
        --angle-deg: 30deg;
    }

    .bet-info {
        margin: 10px 0 10px 0;
    }

    .slots {
        margin: 10px 0;
    }

    #jackpot-total {
        width: 50%;
    }

    .game-btn {
        height: 50px;
    }

    .game-btn span {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
        height: 48px;
    }

    .bottom-piece {
        height: 8%;
    }
}

@media screen and (min-height: 700px) {

    :root {
        --title-f-size: 70px;
        --jp-f-size: 40px;
        --font-size: 20px;
        --angle-deg: 20deg;
    }

    .top-piece {
        height: 13%;
    }

    #jackpot-total {
        margin: 2% 0;
    }
}

@media screen and (min-width: 480px) and (min-height: 550px) {
    :root {
        --icon_width: 126px;
        --icon_height: 120px;
        --border-thickness: 5px;
        --reel-win-light: 15px;
        --reel-offset: -140px;
        --btn-f-size: 24px;
        --icon-fitter: 0px;
    }

    #jackpot-total h3 {
        margin: 0 0 3% 0;
    }

    .bottom-piece {
        height: 6%;
    }

    .game-btn h4 {
        font-size: var(--btn-f-size);
    }

    .card-btns {
        width: 20%;
    }

    .win-table-i {
        max-height: 70%;
    }

    .table-column:nth-of-type(1) {
        width: 150%;
    }

}

@media screen and (min-width: 600px) and (min-height: 700px) {
    :root {
        --icon_width: 168px;
        --icon_height: 160px;
        --reel-offset: -200px;
    }

    .switch {
        width: 60px;
        height: 26px;
    }

    .slider:before {
        height: 20px;
        width: 20px;
        left: 3px;
        bottom: 3px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(34px);
        -ms-transform: translateX(34px);
        transform: translateX(34px);
    }

    #jackpot-total {
        margin: 1% 0 0 0;
    }

    .info-group div {
        border: 4px solid #deb265;
    }

    .proj-desc {
        overflow: auto;
        padding: 1%;
    }

    .game-btn {
        height: 58px;
    }

    .game-btn span {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
        height: 55px;
        border: 5px solid #deb265;
    }
}

@media screen and (min-width: 800px) and (min-height: 820px) {
    :root {
        --icon_width: 210px;
        --icon_height: 200px;
        --reel-offset: -280px;
        --reel-win-light: 20px;
        --font-size: 28px;
        --reel-win-light: 30px;
    }

    .slots .reel {
        background-image: url('images/full\ slots\ img\ MM.png');
    }

    .card-btns {
        width: 15%;
        height: 55px;
    }

    #end-btn {
        width: 170px;
    }
}

@media screen and (min-width: 900px) and (min-height: 930px) {

    :root {
        --border-thickness: 10px;
        --icon_width: 252px;
        --icon_height: 240px;
        --reel-offset: -320px;
        --btn-f-size: 34px;
        --angle-deg: 15deg;
    }

    .top-piece {
        height: 10%;
    }

    .game-btn {
        height: 70px;
    }

    .game-btn span {
        height: 68px;
        -webkit-transform: translate(0px, -8px);
        -ms-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
    }

    .game-btn h4 {
        font-size: var(--btn-f-size);
    }

}

@media screen and (min-width: 1000px) and (min-height: 1080px) {
    :root {
        --reel-win-light: 50px;
        --reel-offset: -260px;
    }

    .slots .reel {
        background-image: url('images/full\ slots\ img\ LL.png');
    }
}

@media screen and (min-width: 1200px) and (min-height: 1250px) {
    :root {
        --reel-win-light: 50px;
        --icon_width: 336px;
        --icon_height: 320px;
        --reel-offset: -380px;
        --title-f-size: 80px;
        --jp-f-size: 50px;
        --font-size: 34px;
        --angle-deg: 12deg;
    }

    .switch {
        width: 100px;
        height: 40px;
    }

    .slider:before {
        height: 34px;
        width: 34px;
        left: 3px;
        bottom: 3px;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(60px);
        -ms-transform: translateX(60px);
        transform: translateX(60px);
    }

    .game-btn {
        height: 90px;
    }

    .game-btn span {
        height: 86px;
        -webkit-transform: translate(0px, -8px);
        -ms-transform: translate(0px, -8px);
        transform: translate(0px, -8px);
    }

    #end-btn {
        width: 210px;
    }
}

@media screen and (min-width: 1300px) and (min-height: 1400px) {
    :root {
        --reel-win-light: 70px;
        --reel-offset: -300px;
    }
}